html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'retro-gaming';
  src: URL('./retro-gaming.ttf') format('truetype');
}

body {
  min-height: 100%;
  font-family: "retro-gaming";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}
